<form id="applicantForm" method="post" action="/save-applicant" enctype="application/json">
	<section id="contactInformation">
		<label for="firstName">First Name</label>
		<input id="firstName" type="text" inputmode="latin-name" name="firstName" maxlength="30" minlength="1" required>
		<label for="lastName">Last Name</label>
		<input id="lastName" type="text" inputmode="latin-name" name="lastName" maxlength="30" minlength="1" required>
		<label for="email">Email</label>
		<input id="email" type="email" maxlength="30" name="email" pattern="\S+@\w+\.\w+" required>
		<label for"phoneNumber">Phone Number</label>
		<input id="phoneNumber" type="tel" maxlength="20" name="phoneNumber" required>
	</section>
	<input type="submit" value="Finish">
</form>